# ==========================
# Node Dependencies
# ==========================
node_modules/

#===========================
#Playwright execution & report artifacts
#============================
test-results/
playwright-report/
blob-report/
playwright/.cache/
.last-run.json
junit.xml

# ==========================
# Allure report
# ==========================
playwright-utils/.auth/
*.storageState.json


# ==========================
# Allure report
# ==========================
allure-results/
allure-report/

# ==========================
# OS files
# ==========================
.DS_Store
**/.DS_Store

# ==========================
# Build / Env
# ==========================
dist/
build/
.env
.env.local

# ==========================
# Logs
# ==========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*